@import "./vars";

.image-wrap {
  display: flex;
  overflow: hidden;
  height: 205px;

  img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
  }
}

.logo {
  text-transform: capitalize;
  font-family: 'KaushanScript', cursive;
}

.btn {
  display: block;
  padding: 0.75rem 1rem;
  font-size: .75rem;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  transition: $transition;

  &:hover {
    color: $primary;
  }

  &.bordered {
    color: $gray;
    border: 1px solid $gray;
    border-radius: 3px;

    &:hover {
      border-color: $primary;
      color: $primary;
    }
  }

  &.primary {
    border-color: $black;
    color: $black;

    &:hover {
      border-color: $primary;
      color: $primary;
    }

    &.filled {
      background-color: $primary;
      border-color: $primary;
      color: #ffffff;

      &:hover {
        background: none;
        color: $primary;
      }
    }
  }
}

.page {
  padding: 1rem;
  align-self: start;
}