@import "./vars";

.image-wrap {
  display: flex;
  width: 100%;

  img {
    vertical-align: middle;
    object-fit: cover;
    width: 100%;
  }
}

.logo {
  text-transform: capitalize;
  font-family: 'KaushanScript', cursive;
}

.btn {
  display: block;
  padding: 0.75rem 1rem;
  font-size: .75rem;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  transition: $transition;

  &:hover {
    color: $primary;
  }

  &.primary {
    border-color: $primary;
    color: $primary;

    &:hover {
      border-color: darken($primary, 10%);
      color: darken($primary, 10%);
    }

    &.filled {
      background-color: $primary;
      border-color: $primary;
      color: #ffffff;

      &:hover {
        background: none;
        color: $primary;
      }
    }
  }

  &.red {
    border-color: $red;
    color: $red;

    &:hover {
      border-color: darken($red, 10%);
      color: darken($red, 10%);
    }

    &.filled {
      background-color: $red;
      border-color: $red;
      color: #ffffff;

      &:hover {
        background: none;
        color: $primary;
      }
    }
  }

  &.bordered {
    color: $gray;
    border: 1px solid $gray;
    border-radius: 3px;

    &.primary {
      &:hover {
        border-color: $primary;
        color: $primary;
      }
    }

    &.red {
      &:hover {
        border-color: $red;
        color: $red;
      }
    }
  }
}

.page {
  padding: 1rem;
  align-self: start;
}