// * Roboto
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light") format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium") format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold") format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Black") format('truetype');
  font-weight: 900;
}

// * IBM Plex Serif
@font-face {
  font-family: "IBM Plex Serif";
  src: url("../fonts/IBM_Plex_Serif/IBMPlexSerif-Regular") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url("../fonts/IBM_Plex_Serif/IBMPlexSerif-Medium") format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url("../fonts/IBM_Plex_Serif/IBMPlexSerif-SemiBold") format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url("../fonts/IBM_Plex_Serif/IBMPlexSerif-Bold") format('truetype');
  font-weight: 700;
}

// * KaushanScript
@font-face {
  font-family: "KaushanScript";
  src: url("../fonts/KaushanScript/KaushanScript-Regular") format('truetype');
  font-weight: 400;
}

// * Muli Fonts
@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli/Muli-Bold.ttf") format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli/Muli-SemiBold.ttf") format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli/Muli-Medium.ttf") format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli/Muli-Regular.ttf") format('truetype');
  font-weight: 400;
}