@import "assets/scss/vars";

.profileCard {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: .5rem;
  grid-column-gap: 2rem;
  padding: 1rem;
  background-color: $light;

  &__imageContainer {
    width: 9rem;
    height: 9rem;
    grid-column: 2 / 3;
    grid-row: 1 / 6;
    padding: .75rem;
    border-radius: 50%;
    border: 2px solid $primary;
    border-right-color: transparent;
    border-left-color: transparent;

    .image {
      border-radius: 50%;
    }
  }

  &__publisherFullName {
    text-transform: capitalize;
    font-size: 2rem;
  }

  &__stats {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1rem;
    align-items: center;
    justify-self: start;
    font-size: .8rem;
    text-transform: capitalize;
    color: $gray;

    .dotIcon {
      font-size: .3rem;
    }

    .statsItem {
      &__value {
        color: $primary;
        font-size: .75rem;
      }
    }
  }

  &__createdAt {
    font-size: .8rem;
    color: $gray;
  }
}