@import "assets/scss/vars";

.form {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  min-width: 20rem;
  justify-self: center;

  &__title {
    text-transform: capitalize;
    text-align: center;
    position: relative;
  }

  &__submitBtn {
    justify-self: center;
  }
}