@import "assets/scss/vars";

.publicationCardDetails {
  display: grid;
  grid-gap: .5rem;
  padding: 1rem;

  &__category {
    font-size: .85rem;
    font-weight: 500;
    color: $primary;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    transition: $transition;

    &:hover {
      color: rgba($black, .75);
    }
  }

  &__relatedInfo {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    justify-self: start;
    grid-gap: .5rem;
    color: $gray;
    font-size: .8rem;

    .publisher {
      text-transform: capitalize;

      &__name {
        color: $primary;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .dotIcon {
      font-size: .5rem;
    }

    .views {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 0.25rem;
      align-items: center;

      .statIcon {
        font-size: .9rem;
      }
    }
  }
}