@import "assets/scss/vars";

.sponsorsSection {
  background-color: $light;
  padding: 2rem;

  &__container {
    display: grid;
    grid-gap: 1rem;
    max-width: 80rem;
    margin: 0 auto;
  }

  &__subTitle {
    font-weight: 700;
    font-size: 1rem;
    color: $gray;
    justify-self: center;

    &.little {
      font-size: .85rem;
      color: $primary;
    }
  }

  &__imageContainer {
    justify-self: center;
    max-width: 8rem;

    .image {
      filter: grayscale(100%)
    }
  }

  &__about {
    color: $gray;
    font-size: .9rem;
    text-align: center;
    max-width: 50rem;
    justify-self: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .listItem {
      padding: .25rem 2rem;
      color: $gray;
      font-size: .85rem;

      &__link {
        color: $primary;
        text-decoration: underline;
        transition: $transition;

        &:hover {
          color: darken($primary, 5%);
        }
      }

      &::before {
        content: "\2022";
        color: $primary;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
}