@import "assets/scss/vars";
@import "assets/scss/mixins";

.cabinetLink {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  justify-self: end;
  transition: $transition;

  &__publisher {
    text-transform: capitalize;
    font-size: .85rem;
    font-weight: 500;
    color: $gray;
    text-align: right;
    padding-right: 1rem;
  }

  &__imageContainer.imageContainer {
    @include square(2rem);

    .image {
      border-radius: 50%;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: $light;
  }
}