@import "assets/scss/vars";

.commentToReply {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: .5rem;
  position: relative;
  padding: 1rem;
  border: 1px solid $light;
  border-left: 3px solid $primary;

  &__imageContainer {
    width: 1.5rem;
    height: 1.5rem;

    .image {
      border-radius: 50%;
    }

    &::before {
      display: none;
    }
  }

  &__publisher {
    font-size: .8rem;
    font-weight: 500;
    color: $primary;
    align-self: center;
    text-transform: capitalize;
  }

  &__value {
    font-weight: 500;
    color: $gray;
    grid-column: 1 / 3;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__cancelBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-weight: 700;
    color: $gray;
    cursor: pointer;
    transform: rotate(45deg);
    transition: $transition;

    &:hover {
      color: $red;
    }
  }
}