@import "assets/scss/vars";

.publicationsSection {
  display: grid;
  grid-gap: 2rem;
  max-width: 80rem;
  margin: 0 auto;
  padding: 3rem;

  &__title {
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
  }
}