@import "assets/scss/vars";

.comment {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  border: 1px solid $light;
  border-left: 3px solid $primary;

  &__value {
    font-weight: 500;
    color: $gray;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__replyBtn {
    justify-self: start;
    text-transform: capitalize;
    color: darken($light, 10%);
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: $primary;
    }
  }

  &__innerComments {
    display: grid;
    grid-gap: 1rem;

    &.none {
      display: none;
    }

    .innerComments__title {
      text-transform: capitalize;
      color: $gray;
      margin-bottom: -.5rem;
    }
  }
}