@import "assets/scss/vars";

.navbar {
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 1px solid $light;

  &__list {
    display: flex;

    &--item {
      padding: .5rem;
      text-transform: uppercase;
      font-size: .8rem;
      font-weight: 500;

      .link {
        display: block;
        padding: 1rem;
      }
    }
  }
}