@import "assets/scss/vars";

.authenticatedPanel {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;
  align-items: center;
  padding: .5rem 1rem;
  position: relative;
  transition: $transition;

  &__publisher {
    text-transform: capitalize;
    font-size: .85rem;
    font-weight: 500;
    color: $gray;
  }

  &__imageContainer.imageContainer {
    width: 2rem;
    height: 2rem;

    .image {
      border-radius: 50%;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: lighten($light, 5%);
  }
}