@import 'assets/scss/vars';

#authenticated-panel {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1rem;
  align-items: center;

  .publisher-image-wrap {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, .15);
  }

  .publisher-name {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 0.9rem;
    color: darken($light, 8%);
  }
}