@import 'assets/scss/vars';

.authenticatedPanel {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;
  align-items: center;

  &__imageContainer.imageContainer {
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    overflow: hidden;

    &::before {
      display: none;
    }
  }
}