@import "assets/scss/vars";

.detailedPublication {
  display: grid;
  grid-gap: 1rem;

  &__title {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3rem;
  }

  &__categoryLink {
    justify-self: start;
  }

  &__category {
    color: $primary;
    font-weight: 500;
    transition: $transition;

    &:hover {
      text-decoration: underline;
      color: darken($primary, 5%);
    }
  }

  &__views {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: .5rem;
    font-size: .9rem;
    align-content: center;
    color: darken($light, 10%);

    .statIcon {
      font-size: 1rem;
    }
  }

  &__value {
    font-size: 1.25rem;
    text-indent: 2rem;
  }
}

@media (max-width: 1000px) {
  .detailedPublication {
    &__title {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}