@import "assets/scss/vars";

.comment {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  border-left: 2px solid $primary;

  &__value {
    font-weight: 500;
    color: $gray;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__innerComments {
    padding-left: 1rem;

    &.none {
      display: none;
    }
  }
}