@import "assets/scss/vars";

.publicationDetails {
  display: grid;
  grid-gap: .5rem;
  padding: 1rem;

  &__category {
    font-size: .85rem;
    color: $primary;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    transition: $transition;

    &:hover {
      color: rgba($black, .75);
    }
  }

  &__relatedInfo {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    grid-gap: .5rem;

    .publisher {
      color: darken($light, 10%);
      font-size: .8rem;

      &__prefix {
        text-transform: capitalize;
      }

      &__name {
        text-transform: capitalize;
        color: $primary;
      }
    }

    .dotIcon {
      color: darken($light, 10%);
      font-size: .5rem;
    }

    .views {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 0.25rem;
      color: darken($light, 10%);
      font-size: 0.8rem;
      align-items: center;

      .statIcon {
        font-size: .9rem;
      }
    }
  }
}