@import "assets/scss/vars";

.commentList {
  display: grid;
  grid-gap: 1rem;

  &__noComments {
    color: $gray;
    font-size: .85rem;

    &::first-letter {
      text-transform: capitalize;
    }
  }
}