@import "assets/scss/vars";

.imageContainer {
  display: flex;
  position: relative;
  width: 100%;

  .image {
    vertical-align: middle;
    object-fit: cover;
    width: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($black, .75);
  }
}