@import "scss/vars";

.input {
  width: 100%;
  background-color: #fff;
  font-size: 1rem;
  padding: 7px 1rem 7px;
}

.ibm {
  font-family: 'IBM Plex Serif', serif;
  font-size: 3.5rem;
}

.btn {
  padding: .75rem 1.5rem;
  background-color: $accent;
  color: #ffffff;
  font-size: .875rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: $transition;
  cursor: pointer;

  &:hover {
    opacity: .85;
  }
}

.dg {
  display: grid;
}

.grid-gap {
  grid-gap: 2rem;
}
.align-self-start {
  align-self: start;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.abs-stretch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.form {
  background: #fff;
  padding: 2rem;
}

.image-wrap {
  display: flex;
  overflow: hidden;
  height: 205px;

  img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
  }
}