@import "assets/scss/vars";

.publication {
  display: grid;
  grid-gap: 1rem;

  &__title {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 3rem;
  }

  &__category {
    font-size: .7rem;
    font-weight: 500;
    justify-self: start;
    text-transform: uppercase;
    color: $primary;
    transition: $transition;

    &:hover {
      text-decoration: underline;
      color: darken($primary, 5%);
    }
  }

  &__views {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: .5rem;
    font-size: .8rem;
    align-content: center;
    color: $gray;
    text-transform: capitalize;
    font-weight: 500;

    .statIcon {
      color: $primary;
      font-size: 1rem;
    }
  }

  &__value {
    font-size: 1.15rem;
    text-indent: 2rem;
  }
}

@media (max-width: 1000px) {
  .publication {
    &__title {
      font-size: 1.75rem;
      line-height: 2rem;
    }

    &__value {
      font-size: 1.15rem;
      text-indent: 1.75rem;
    }
  }
}

@media (max-width: 600px) {
  .publication {
    &__title {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }

    &__value {
      font-size: 1.05rem;
      text-indent: 1.5rem;
    }
  }
}