@import 'assets/scss/vars';

.dot {
  flex-basis: 1.5rem;
  height: 3px;
  background-color: rgba(#ffffff, .35);
  margin-right: .5rem;
  cursor: pointer;
  transition: $transition;

  &.active {
    background-color: #ffffff;
    flex-basis: 3rem;
  }
}