@import 'assets/scss/vars';

.index-box {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-self: start;
  align-items: center;
  grid-gap: .75rem;
  z-index: 1;

  &__square {
    display: grid;
    align-items: center;
    text-align: center;
    font-weight: 700;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    color: $black;
  }

  &__dash {
    color: #ffffff;
    font-weight: 700;
  }

  &__text {
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 700;
  }
}