@import 'assets/scss/vars';
@import 'assets/scss/mixins';

.index-box {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-self: start;
  align-items: center;
  grid-gap: 1rem;
  z-index: 1;

  &__square {
    display: grid;
    position: relative;
    align-items: center;
    text-align: center;
    font-weight: 700;
    @include square(2.5rem);
    color: #ffffff;
    margin-right: .5rem;

    &::before {
      content: '';
      @include stretch(absolute, 0);
      border: 2px solid #ffffff;
      transform: rotate(45deg);
    }
  }

  &__dash {
    color: #ffffff;
    font-weight: 700;
  }

  &__text {
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 700;
  }
}