@import "assets/scss/vars";
@import "assets/scss/mixins";

.slide {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 3rem;
  padding: 2rem;
  @include stretch(absolute, 0);

  &__imageContainer.imageContainer {
    @include stretch(absolute, 0);
    z-index: -1;
  }

  .publicationDetails {
    align-self: end;
    padding: 0 0 5rem;

    &__title {
      max-width: 60vw;
      color: #ffffff;
      font-size: 2rem;

      &:hover {
        color: darken(#ffffff, 20%);
      }
    }

    &__inlineWrap, &__value {
      color: lighten($gray, 10%);
    }

    .tagsBox {
      &__tag {
        color: lighten($gray, 10%);
      }
    }
  }
}

@media (max-width: 1000px) {
  .slide {
    .publicationCardDetails {
      &__title {
        font-size: 1.5rem;
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .slide {
    .publicationCardDetails {
      &__title {
        font-size: 1.25rem;
      }
    }
  }
}