@import "assets/scss/vars";

.slide {
  display: grid;
  grid-template-rows: auto 1fr;
  position: absolute;
  grid-gap: 3rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;

  &__imageContainer.imageContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .publicationDetails {
    align-self: end;
    padding: 0 0 5rem;

    &__title {
      max-width: 60vw;
      color: #ffffff;
      font-size: 2rem;

      &:hover {
        color: darken(#ffffff, 20%);
      }
    }
  }
}